/* Modes : Couleurs */
/* 1- Public, Lecture */
.public{
    border: 2px solid #9ecaed;
}
.public:invalid { 
    color: #4fa7ef;
    border-color: #9ecaed;
}
.public:hover {
    border-color: #4fa7ef;
}
.public:hover:invalid { 
    border-color: #4fa7ef;
}
.public:focus { 
    border-color: #7da3c1;
}
.public:focus:invalid { 
    border-color: #7da3c1;
}

/*Lecture*/
/*Navigateurs modernes*/
.read::placeholder {
  text-transform: uppercase;
  opacity: 1;
  color: #556d82;
}
/*/*Anciens nabvigateurs* /
.read::-webkit-input-placeholder { /* Chrome/Opera/Safari * /
  text-transform: uppercase;
  opacity: 1;
  color: #7da3c1;
}
.read::-moz-placeholder {  /*Firefox 19+ * /
  text-transform: uppercase;
  opacity: 1;
 color: #7da3c1;
}
.read:-ms-input-placeholder { /* IE 10+ * /
  text-transform: uppercase;
  opacity: 1;
  color: #7da3c1;
}
.read:-moz-placeholder { /* Firefox 18- * /
  text-transform: uppercase;
  opacity: 1;
  color: #7da3c1;
}*/

/*Edition*/
.auth{
    border: 2px solid #f2a4bc;
}
.auth:invalid { 
    color: #ef4f81;
    border: 2px solid #f2a4bc;
}
.auth:hover {
    border-color: #ef4f81;
}
.auth:hover:invalid { 
    border-color: #ef4f81;
}
.auth:focus { 
    border-color: #af7c8d;
}
.auth:focus:invalid { 
    border-color: #af7c8d;
}




/*Formulaire */

.in{
    border-radius: 5px;
    outline: none;
    padding: 5px 20px;
    font-family: 'Roboto Slab', serif;
    width: 80%;
    height: 30px;
    font-size: 15pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.write{
    height: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: justify;
    resize: none;
}

/*Sous-texte*/
#subText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 35px;
	 
}
#subText.up{
   margin-top: -30px;;
}
/* Désactivation du dégradé sur Firefox */
:invalid{
    box-shadow: none;
}



.editZone{ /*CodeMirror: Editeur Marksown */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}